<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <configSections>
    <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089">
      <section name="MacomberMapClient.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false"/>
      <section name="MacomberMapClient.MacomberMapSettings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false"/>
    </sectionGroup>
  </configSections>
  <startup>
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5.1"/>
  </startup>
  <system.serviceModel>
    <bindings/>
    <client/>
  </system.serviceModel>
  <userSettings>
    <MacomberMapClient.Properties.Settings>
      <setting name="MacomberMapServerBroadcastPort" serializeAs="String">
        <value>56574</value>
      </setting>
      <setting name="SavecaseDirectory" serializeAs="String">
        <value>.</value>
      </setting>
      <setting name="MacomberMapServerQueryPort" serializeAs="String">
        <value>56575</value>
      </setting>
      <setting name="ServersToPing" serializeAs="String">
        <value />
      </setting>
      <setting name="FlowgateBaseUrl" serializeAs="String">
        <value />
      </setting>
      <setting name="HistoricServerBaseUrl" serializeAs="String">
        <value />
      </setting>
      <setting name="HistoricFrameworkPath" serializeAs="String">
        <value />
      </setting>
      <setting name="HelpLocation" serializeAs="String">
        <value>M:\Examples\HelpFiles</value>
      </setting>
      <setting name="ModelDatabase" serializeAs="String">
        <value>(Model database information if needed)</value>
      </setting>
      <setting name="VideoURL" serializeAs="String">
        <value />
      </setting>
    </MacomberMapClient.Properties.Settings>
    <MacomberMapClient.MacomberMapSettings>
      <setting name="SavecaseDirectory" serializeAs="String">
        <value>.</value>
      </setting>
      <setting name="MacomberMapServerBroadcastPort" serializeAs="String">
        <value>56574</value>
      </setting>
    </MacomberMapClient.MacomberMapSettings>
  </userSettings>
  <runtime>
    <assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
      <dependentAssembly>
        <assemblyIdentity name="SharpDX" publicKeyToken="b4dcf0f35e5521f1" culture="neutral"/>
        <bindingRedirect oldVersion="0.0.0.0-3.0.1.0" newVersion="3.0.1.0"/>
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="SharpDX.DXGI" publicKeyToken="b4dcf0f35e5521f1" culture="neutral"/>
        <bindingRedirect oldVersion="0.0.0.0-3.0.1.0" newVersion="3.0.1.0"/>
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="SharpDX.D3DCompiler" publicKeyToken="b4dcf0f35e5521f1" culture="neutral"/>
        <bindingRedirect oldVersion="0.0.0.0-3.0.1.0" newVersion="3.0.1.0"/>
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="SharpDX.Direct3D11" publicKeyToken="b4dcf0f35e5521f1" culture="neutral"/>
        <bindingRedirect oldVersion="0.0.0.0-3.0.1.0" newVersion="3.0.1.0"/>
      </dependentAssembly>
    </assemblyBinding>
  </runtime>
</configuration>
